# GNU Emacs
*.elc
*~
.cache
/elpa/
evil/
config.el
custom.el
tutorial

# Third-party packages
/history/
/url/
/var/
/anaconda-mode/
/auto-save-list/
/backups/
/transient/
.abbrev_defs
.dap-breakpoints
ac-comphist.dat
bookmarks
nov-places
recentf
request
smex-items
tramp
workspace



eshell/
org-roam.db
*ebdb*
image-dired/
.DS_STORE 
.lsp-session-v1 
.eshell/ 
ebdb 
games/
projectile-bookmarks.eld
.org-id-locations
projects
